// $min_width: 320px;
// $max_width: 1000px;
// $min_font: 16px;
// $max_font: 22px;

// html {
//     @include fluid-type($min_width, $max_width, $min_font, $max_font);
//   }

html {
  scroll-behavior: smooth;
}

body {
  background: $black_primary;
  color: $white_primary;
}

h1 {
  font-family: $font_headline;
  //   $min_font: 50px;
  //   $max_font: 100px;
  //   @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-size: 3em;
  text-align: center;

  @include mm_horisontal {
    font-size: 2.5em;
  }

  @include ms {
    font-size: 1.8em;
  }

  @include iphone5_horisontal {
    font-size: 2em;
  }
}

h2 {
  font-family: $font_headline;
  font-size: 1.8em;
  text-align: center;

  @include mm_horisontal {
    font-size: 1.5em;
  }

  @include mm {
    font-size: 1.3em;
  }

  @include ms {
    font-size: 1.1em;
  }

  @include iphone5_horisontal {
    font-size: 1.2em;
  }
}

p {
  font-family: $font_body;
  line-height: 1.5;
  max-width: 70vw;
  width: 100%;

  @include ls {
    padding: 0.4em;
    max-width: 100%;
  }

  @include ms {
    font-size: 0.8em;
  }

  @include iphone5_horisontal {
    font-size: 0.8em;
  }
}

a {
  text-decoration: none;
  color: $white_primary;
  font-family: $font_body;
}

.nav_colored {
  background: $black_primary;
  @include ls {
    background: transparent;
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0.8em;

  a {
    &::after {
      content: "";
      transition: width 0.3s;
      display: inline-block;
      bottom: 0;
      left: 0;
      width: 0;
    }
    &:hover::after {
      border-bottom: 1px $white_primary solid;
      width: 100%;
      transform: scaleX(1);
    }
  }

  //BURGERMENU
  #menuToggle {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;

    #menu {
      display: flex;

      & > * {
        padding: 0.5em 1.5em;
      }
    }

    input {
      opacity: 0;
    }
  }

  @include ls {
    #menuToggle {
      display: block;
      position: relative;
      top: 30px;
      left: 30px;

      a {
        text-decoration: none;
        color: $white_primary;
        transition: color 1s ease;
      }

      input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        opacity: 0;
        z-index: 2;

        &:checked ~ ul {
          transform: none;
        }

        &:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: grey;
        }

        &:checked ~ #menu {
          display: flex;
        }

        &:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }
      }

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: grey;
        border-radius: 3px;

        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }

      #menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110vh;
        background: $black_primary;
        list-style-type: none;
        margin: -100px 0 0 -50px;
        transition: opacity 0.3s ease-in;
        font-size: 1.8em;

        display: none;
      }
    }
  }
}

#hero {
  background-image: url("/src/assets/img/bg-img.jpg");
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 6em;
    padding: 0.4em;
    color: $red_primary;
    text-shadow: $primary_glow;
    // font-family: $font_logo;
    font-weight: 600;
    text-transform: uppercase;
    @include ls {
      font-size: 5em;
    }

    @include mm_horisontal {
      font-size: 3em;
    }
    @include ml {
      font-size: 3em;
    }

    @include iphone5_horisontal {
      font-size: 2.5em;
    }
  }

  h2 {
    color: $yellow_primary;
    font-size: 3.5em;
    font-weight: 600;

    @include mm_horisontal {
      font-size: 2em;
    }

    @include ls {
      font-size: 3.5em;
    }

    @include ml {
      font-size: 2em;
    }

    @include iphone5_horisontal {
      font-size: 2em;
    }
  }

  p {
    font-size: 1.4em;

    @include mm_horisontal {
      font-size: 1.2em;
    }

    @include ls {
      font-size: 1.4em;
    }

    @include ml {
      font-size: 1.2em;
    }
    @include iphone5_horisontal {
      font-size: 1.2em;
    }
  }

  button {
    background: $red_primary;
    box-shadow: $primary_glow;
    font-size: 1.2em;
    color: $white_primary;
    border: none;
    border-radius: 5px;
    padding: 0.6em 1em;
    margin-top: 2em;
    cursor: pointer;

    @include mm_horisontal {
      font-size: 0.8em;
    }

    @include ls {
      font-size: 1.2em;
    }

    @include ml {
      font-size: 0.8em;
    }

    @include iphone5_horisontal {
      font-size: 0.8em;
    }
  }

  .scroll-indicator {
    font-size: 3em;
    text-decoration: none;
    animation: bounce 1.4s infinite;
    position: absolute;
    bottom: 1em;
  }

  @keyframes bounce {
    50% {
      transform: translateY(20px);
    }
  }

  .fa,
  .fas {
    color: $white_primary;
  }
}

#welcome {
  display: grid;
  justify-items: center;
  margin: 3em 5em;

  @include ls {
    margin: 1em;
  }

  & > * {
    padding: 0.4em 2em;

    @include ls {
      padding: 0.4em 1em;
    }

    @include ml {
      padding: 0.4em;
    }
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 3em 0em;
    img {
      max-width: 400px;
      width: 100%;
    }
  }

  p {
    @include ls {
      margin: 0 2em;
    }
  }
}

#reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 8em;

  @include ll {
    margin: 0;
  }

  @include mm_horisontal {
    grid-template-columns: 1fr;
  }

  @include ml {
    display: block;
    margin: 1em;
  }

  .review_container {
    display: grid;
    grid-template-columns: 1fr;
    background: #f3f6fe;
    max-width: 350px;
    position: relative;
    border-radius: 10px;
    color: black;
    margin: 2em;
    font-size: 0.8em;

    @include ll {
      max-width: 300px;
    }
    @include ls {
      max-width: 350px;
    }

    & > * {
      padding: 1.2em;
    }
    .reviews_image {
      background: linear-gradient(to bottom, #f3f6fe 0%, #f3f6fe 50%, #f3f6fe 50%, $red_primary 50%, $red_primary 100%);
      display: flex;
      justify-content: center;
      padding: 0;
      outline: none;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }

    .review_txt_box {
      h2 {
        font-size: 1.3em;
        padding-bottom: 0.6em;
        font-weight: bold;
      }
    }

    .review_info {
      background: $red_primary;
      color: #fef6fe;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      h3 {
        font-family: $font_headline;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 0.6em;
      }

      svg {
        width: 200px;
      }
    }
  }
}

#introduction {
  display: grid;
  justify-items: center;
  margin: 3em 5em;
  & > * {
    padding: 0.4em 2em;

    @include ls {
      padding: 0.4em 0;
    }
  }

  @include ls {
    margin: 1em;
  }
}

#images {
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
  overflow: hidden;
  box-sizing: border-box;
  min-height: 80vh;

  margin: 6em 0em;

  @include ll {
    transform: skewY(0deg);
    min-height: 50vh;
  }

  @include ml {
    display: block;
  }

  @include iphone5_horisontal {
    min-height: 100%;
    margin: 2em 0;
  }

  .skew {
    color: white;
    text-align: center;
    align-items: center;
    transition: opacity 0.3s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: grid;
    justify-items: center;

    .wrap {
      transform: skewY(5deg);
      transition: opacity 0.3s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s;

      display: grid;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      @include ll {
        transform: skewY(0deg);
        opacity: 1;
      }

      @include ml {
        padding: 2em;
      }

      opacity: 0;
      line-height: 1.5;

      & > * {
        padding: 1em;
      }

      h2 {
        font-size: 2em;
        max-width: 300px;

        @include mm_horisontal {
          font-size: 1.2em;
          max-width: 200px;
        }

        @include iphone5_horisontal {
          font-size: 1em;
        }
      }

      button {
        background: $red_primary;
        box-shadow: $primary_glow;
        border: none;
        color: $white_primary;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;

        height: 50px;
        width: 100px;

        @include mm_horisontal {
          font-size: 0.8em;
        }
      }
    }
    &:hover {
      flex-grow: 2;
      .wrap {
        opacity: 1;
      }
    }
  }
}

#rules {
  display: grid;
  margin: 3em 5em;
  @include mm_horisontal {
    padding: 0.4em 0;
  }

  @include mm_horisontal {
    margin: 1em;
  }

  & > * {
    padding: 0.4em 2em;

    @include ml {
      padding: 0.4em 0;
    }
  }

  h1 {
    text-align: center;
  }

  a {
    font-weight: bold;
  }

  .rules_txt {
    columns: 2;
    column-gap: 4em;
    @include mm_horisontal {
      column-gap: 2em;
    }

    @include ml {
      display: block;
    }
  }

  .rules_accordion {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 4em;

    @include ml {
      display: block;
    }
  }

  details[open] summary ~ * {
    animation: sweep 0.3s ease-in-out;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      transform: translateY(-2em);
    }

    60% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  details {
    cursor: pointer;

    summary {
      font-size: 1.6em;
      font-family: $font_headline;
      border-bottom: 1px $white_primary solid;
      padding: 0.4em 0em;

      &::-webkit-details-marker {
        display: none;
      }

      @include ml {
        font-size: 1.4em;
      }

      @include iphone5_horisontal {
        font-size: 1.2em;
      }
    }

    .details_box {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin: 2em 0em;

      & > * {
        padding: 0.6em;
      }

      h3 {
        font-size: 1.3em;
        font-family: $font_headline;
        font-weight: bold;
      }
      img {
        max-width: 100px;
        width: 100%;
      }
    }
  }
}

#join {
  background-image: url(/src/assets/img/table.png);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2em 0em;

  & > * {
    padding: 0.3em;
  }

  h2 {
    font-size: 3em;
    font-family: $font_headline;

    @include ml {
      font-size: 2em;
    }

    @include iphone5_horisontal {
      font-size: 2em;
    }
  }

  h3 {
    font-size: 1.8em;
    font-family: $font_headline;

    @include ml {
      font-size: 1.4em;
    }

    @include iphone5_horisontal {
      font-size: 1.4em;
    }
  }
  button {
    background: $red_primary;
    box-shadow: $primary_glow;
    font-size: 1.2em;
    color: $white_primary;
    border: none;
    border-radius: 5px;
    padding: 0.6em 2em;
    margin-top: 2em;
    cursor: pointer;

    @include mm_horisontal {
      font-size: 1em;
    }
    @include iphone5_horisontal {
      font-size: 1em;
    }
  }
}

footer {
  font-size: 0.8em;
  margin: 4em 4em 2em;
  #footer_links {
    display: flex;
    justify-content: space-between;

    @include ml {
      display: block;
    }

    & > * {
      line-height: 2;
    }

    .footer_txt_middle {
      text-align: center;
      @include ml {
        text-align: left;
      }
    }

    .footer_txt_right {
      text-align: right;
      @include ml {
        text-align: left;
      }
    }
  }

  #footer_content {
    display: grid;
    justify-items: center;
    @include ml {
      margin-top: 4em;
    }

    .footer_txt_approved {
      display: flex;
      font-weight: bold;
      padding-bottom: 1.5em;
      margin-top: 2em;

      img {
        max-width: 20px;
        padding-right: 1em;
      }
    }

    .footer_txt_legal {
      text-align: center;
    }
  }
}
