body {
  background: $black_primary;
  color: $white_primary;
}

h1 {
  font-family: $font_headline;
  //   $min_font: 50px;
  //   $max_font: 100px;
  //   @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-size: 4em;
  text-align: center;
}

p {
  font-family: $font_body;
  line-height: 1.5;
  max-width: 70vw;
  width: 100%;
}

a {
  text-decoration: none;
  color: $white_primary;
  font-family: $font_body;
}

nav {
  position: fixed;
  width: 100%;

  .logo {
    position: absolute;
    padding: 0.5em;

    img {
      max-width: 100px;
    }
  }

  .nav-txt {
    text-align: right;
    font-size: 0.8em;
    margin: 2em 1em;
    a {
      padding: 2em;
    }
  }
}

#hero {
  background-image: url("/src/assets/img/bg-img.jpg");
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & > * {
    padding: 0.6em;
  }

  h1 {
    padding: 0.2em;
    color: $red_primary;
    text-shadow: $primary_glow;
    font-family: $font_logo;
  }

  h2 {
    color: $yellow_primary;
    font-size: 3.5em;
    font-family: $font_headline;
    font-weight: 600;
  }

  p {
    font-size: 1.4em;
  }

  button {
    background: $red_primary;
    box-shadow: $primary_glow;
    font-size: 1.2em;
    color: $white_primary;
    border: none;
    border-radius: 5px;
    padding: 0.6em 1em;
    margin-top: 1em;
    cursor: pointer;
  }
}

#welcome {
  display: grid;
  justify-items: center;
  margin: 3em 5em;

  & > * {
    padding: 0.4em 2em;
  }

  h2 {
    font-family: $font_headline;
    font-size: 1.8em;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 3em 0em;
    img {
      max-width: 400px;
      width: 100%;
    }
  }
}

#reviews {
  display: flex;
  justify-content: center;

  .review-container {
    display: grid;
    grid-template-columns: 1fr;
    background: #f3f6fe;
    max-width: 350px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    color: black;
    margin: 2em;
    font-size: 0.8em;

    & > * {
      padding: 1.2em;
    }
    .reviews_image {
      background: linear-gradient(to bottom, #f3f6fe 0%, #f3f6fe 50%, #f3f6fe 50%, #6a04f5 50%, #6a04f5 100%);
      display: flex;
      justify-content: center;
      padding: 0;

      img {
        width: 100px;
        border-radius: 50%;
      }
    }

    .review-txt-box {
      h2 {
        font-family: $font_headline;
        font-size: 1.3em;
        padding-bottom: 0.6em;
        font-weight: bold;
        text-align: center;
      }
    }

    .review-info {
      background: #6a04f5;
      color: #fef6fe;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      h3 {
        font-family: $font_headline;
        font-size: 1.2em;
        padding-bottom: 0.6em;
      }

      svg {
        width: 180px;
      }
    }
  }
}

#introduction {
  display: grid;
  justify-items: center;
  margin: 3em 5em;
  & > * {
    padding: 0.4em 2em;
  }
}

#images {
  display: flex;
  justify-content: center;
  transform: skewY(-5deg);
  overflow: hidden;
  box-sizing: border-box;
  min-height: 80vh;

  margin: 6em 0em;

  .skew {
    color: white;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    &:hover {
      flex: 1.5;
    }
  }

  img {
    // max-width: 33.33vw;
    margin: 3em 0em;
  }
}

#rules {
  display: grid;
  margin: 3em 5em;

  & > * {
    padding: 0.4em 2em;
  }

  h1 {
    text-align: center;
  }

  a {
    font-weight: bold;
  }

  .rules-txt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
  }

  .rules-accordion {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 4em;
  }

  details {
    cursor: pointer;
    summary {
      font-size: 1.6em;
      font-family: $font_headline;
      border-bottom: 1px $white_primary solid;
      padding: 0.4em 0em;

      &::-webkit-details-marker {
        display: none;
      }
    }
  }
}

#card-value {
  h1 {
    text-align: center;
  }

  h2 {
    font-size: 1.4em;
    font-family: $font_headline;
  }

  .value-box {
    display: flex;
    margin: 3em 5em;

    & > * {
      padding: 0.4em 2em;
    }
    img {
      max-width: 130px;
      width: 100%;
    }
  }
}

#join {
  background-image: url(/src/assets/img/table.png);
  width: 100%;
  height: 45vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  margin-bottom: 10em;

  & > * {
    padding: 0.3em;
  }

  h2 {
    font-size: 3em;
    font-family: $font_headline;
  }

  h3 {
    font-size: 1.8em;
    font-family: $font_headline;
  }
  button {
    background: $red_primary;
    box-shadow: $primary_glow;
    font-size: 1.2em;
    color: $white_primary;
    border: none;
    border-radius: 5px;
    padding: 0.6em 2em;
    margin-top: 2em;
    cursor: pointer;
  }
}
