@mixin desktop {
}

@mixin ll {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin ml {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin mm {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin ms {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin mm_horisontal {
  @media screen and (max-width: 812px) {
    @content;
  }
}

@mixin mm_horisontal_game {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin iphone5_horisontal {
  @media screen and (max-width: 568px) and (min-width: 568px) and (max-height: 320px) and (min-height: 320px) {
    @content;
  }
}

@mixin iphone6_horisontal {
  @media screen and (max-width: 667px) and (max-height: 375px) {
    @content;
  }
}

@mixin iphone6Plus_horisontal {
  @media screen and (max-width: 736px) and (max-height: 414px) {
    @content;
  }
}

@mixin ipad_horisontal {
  @media screen and (max-width: 1024px) and (max-height: 768px) {
    @content;
  }
}

@mixin ipadPro_horisontal {
  @media screen and (max-width: 1366px) and (max-height: 1024px) {
    @content;
  }
}

@mixin m733x425 {
  @media (max-width: 733px) and (max-height: 425px) {
    @content;
  }
}

@mixin pixel2Xl {
  @media (max-width: 833px) and (max-height: 411px) {
    @content;
  }
}

@media (orientation: portrait) {
  .turnPhone {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 99999;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        to right,
        rgba(83, 105, 118, 0.7),
        rgba(41, 46, 73, 0.7)
      ),
      url(/src/assets/img/bg-img.jpg);
    width: 100vw;
    height: 100vh;

    .content {
      text-align: center;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
      h1 {
        font-weight: 900;
        margin-bottom: 2rem;
      }

      b {
        font-weight: 900;
      }

      img {
        margin-bottom: 2rem;
        height: 100%;
        max-height: 320px;
        transform: rotate(0);
        animation: rotatePhone 4s ease-in-out infinite both;
      }

      @keyframes rotatePhone {
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(-90deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }
}

@media (orientation: landscape) {
  .turnPhone {
    display: none;
  }
}
