@mixin desktop {
}

@mixin ll {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin ls {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin ml {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin mm {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin ms {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin mm_horisontal {
  @media screen and (max-width: 812px) {
    @content;
  }
}

@mixin mm_horisontal_game {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin iphone5_horisontal {
  @media screen and (max-width: 568px) and (min-width: 568px) and (max-height: 320px) and (min-height: 320px) {
    @content;
  }
}

@mixin ipad_horisontal {
  @media screen and (max-width: 1024px) and (min-width: 1024px) and (max-height: 768px) and (min-height: 768px) {
    @content;
  }
}

@media (orientation: portrait) {
  .turnPhone {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}
