.primary_button {
    -webkit-appearance: none;
    border: none;
    background-image: none;
    background: $red_primary;
    color: $white_primary;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    padding: .8rem 2rem;
    margin-top: 3rem;
    box-shadow: $primary_glow;
    cursor: pointer;
}

.headline {
    font-family: $font_headline;
    font-weight: 700;
    margin-bottom: 1rem;
}
