* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  hyphens: auto;
}
body#game {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $black_primary;
  background-image: url('/src/assets/svg/bg-table.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: neue-haas-grotesk-display, sans-serif;

  h1 {
  }

  #signUpForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    .btn {
      @extend .primary_button;
      margin-top: 1rem;
    }

    .confirm-email {
      @include mm_horisontal {
        margin-top: -3rem;
      }
    }

    p {
      margin: auto;
    }

    img {
      @include mm_horisontal {
        max-width: 90px;
      }
    }

    @include mm_horisontal {
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
  }

  &.blur-body {
    filter: blur(10px);
  }

  h1 {
    font-size: 4rem;
    @include mm_horisontal {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;

    b {
      font-weight: 700;
    }
  }

  .skip {
    cursor: pointer;
  }

  #onboarding {
    position: absolute;
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black_primary, 0.7);

    .btn {
      margin-top: 1rem;
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      @include mm_horisontal {
        width: 90%;
      }
      h1 {
        font-weight: 900;
        margin-bottom: 2rem;
        font-size: 3rem;
        @include mm_horisontal {
          font-size: 2em;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
      h2 {
        $min_width: 300px;
        $max_width: 1440px;
        $min_font: 20px;
        $max_font: 36px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
      }

      p {
        @include mm_horisontal {
          margin: auto;
        }
      }

      .btn {
        @include mm_horisontal {
          margin-top: 1rem;
        }
      }
      small {
        font-family: $font_body;
        color: $white_primary;
        font-size: small;
      }
      form#fornavn {
        background: none;
        padding: 0;

        input {
          min-height: 50px;
          text-transform: capitalize;
        }

        input:placeholder-shown + label {
          cursor: text;
          max-width: 66.66%;
          white-space: nowrap;
          text-overflow: ellipsis;
          transform-origin: left bottom;
          transform: translate(0.7rem, 2.1rem) scale(2);
        }

        input:not(:placeholder-shown) + label,
        input:focus + label {
          opacity: 0;
          cursor: pointer;
          color: whitesmoke;
        }
      }

      &.rules {
        .btn {
          @extend .primary_button;
        }
      }

      &.card-values {
        display: none;
        .btn {
          @extend .primary_button;
        }
      }
      .inner {
        text-align: center;
        max-width: 80%;
        margin: auto;
        margin-top: 0rem;

        &.picture-10s,
        &.normalcards {
          display: none;
        }

        &.picture-10s {
          max-width: 100%;
        }
        h2 {
          font-family: $font_headline;
          font-weight: 700;
          font-size: 3rem;
          text-align: center;
        }
        .left {
          margin-right: 2rem;
          img {
            width: 100%;
            max-width: 200px;
          }
        }
      }

      &.form {
        display: none;
        .btn {
          @extend .primary_button;
        }
      }
      &.how-to-play {
        display: none;

        p {
          max-height: 110px;
          overflow: scroll;
        }
        .btn {
          @extend .primary_button;
          margin-top: 1rem;
        }
        .how-to-play-inner {
          &.hit,
          &.stand,
          &.bust,
          &.win {
            display: none;
          }
          .left {
            margin-right: 2rem;
            img {
              width: 100%;
              max-width: 400px;
            }
          }
        }
      }
      &.start {
        display: none;
        .btn {
          @extend .primary_button;
        }
      }
    }
  }

  .winScreen {
    position: absolute;
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black_primary, 0.7);

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      #confettiAnimation {
        position: relative;
      }

      h1 {
        font-weight: 900;
        margin-bottom: 2rem;
      }

      .btn {
        @extend .primary_button;
      }
    }

    &.fade-in {
      animation: fadeIn 0.5s ease-in-out 1 both;
      display: block;
    }
  }

  .tieScreen,
  .gameoverScreen {
    position: absolute;
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black_primary, 0.7);

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      img {
        width: 100%;
        max-width: 500px;
        margin: auto;
      }

      h1 {
        font-weight: 900;
        margin-bottom: 2rem;
      }

      .btn {
        @extend .primary_button;
      }
    }

    &.fade-in {
      animation: fadeIn 0.5s ease-in-out 1 both;
      display: block;
    }
  }

  #main_game {
    width: 100%;
    max-width: 55.555vw;
    height: 100%;
    max-height: 49.083vw;
    margin: auto;
    margin-top: 0;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-rows: [row1-start] 50% [row1-end row2-start] 50% [row2-end];
    @include ipadPro_horisontal {
      max-height: 58.083vw;
    }
    @include ll {
      max-height: 58.083vw;
    }
    @include tb {
      max-height: 70.083vw;
    }
    @include ml {
      max-height: 55.083vw;
    }
    @include m733x425 {
      max-height: 57.083vw;
    }

    @include iphone6Plus_horisontal {
      max-height: 49.083vw;
    }
  }

  #dealer-container {
    width: auto;
    min-width: 26.111vw;
    height: 100%;
    max-height: 18.055vw;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    grid-row: row1;
    margin: auto;

    @include ipad_horisontal {
      margin-bottom: 0.5rem;
    }

    .card {
      margin-left: -4rem;
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 12.5vw;
      height: 100%;
      max-height: 27.777vw;

      // @include mm_horisontal_game {
      //   max-width: 100px;
      //   max-height: 130px;
      // }
    }

    .front_image {
      width: 100%;
      max-width: 12.5vw;
      height: 100%;
      max-height: 15.763vw;
    }

    .card:nth-child(2) {
      margin-left: 3rem;
      margin-bottom: 2rem;
      @include mm_horisontal_game {
        margin-left: 0;
      }
    }

    #dealer-value {
      font-family: $font_body;
      display: grid;
      justify-items: center;
      align-items: center;
      width: 4.166vw;
      height: 4.166vw;
      background: rgba($black_primary, 0.7);
      font-size: 2.777vw;
      position: absolute;
      z-index: 999;
      bottom: 0;
      left: 0;

      // @include mm_horisontal_game {
      //   width: 40px;
      //   height: 40px;
      //   font-size: 2rem;
      //   margin-top: 0.5rem;
      // }
    }
  }

  #player-container {
    width: max-content;
    will-change: width;
    transition: 0.4s;
    min-width: 26.111vw;
    // outline: blue 1px solid;
    height: 100%;
    padding: 1rem;
    max-height: 18.055vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    grid-row: row2;

    // @include mm_horisontal_game {
    //   min-width: 250px;
    // }
    @include ipad_horisontal {
      margin-top: 0.5rem;
    }

    .card {
      margin-left: -4rem;
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 12.5vw;
      height: 100%;
      max-height: 27.777vw;
    }
    .card:nth-child(2) {
      margin-left: 3rem;
      margin-top: 2rem;
      @include mm_horisontal_game {
        margin: 0;
      }
    }

    #player-value {
      font-family: $font_body;
      display: grid;
      justify-items: center;
      align-items: center;
      width: 4.166vw;
      height: 4.166vw;
      background: rgba($black_primary, 0.7);
      font-size: 2.777vw;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
    }
  }

  .card {
    width: 100%;
    height: 100%;
    perspective: 600px;
    position: relative;
    z-index: 1;
  }

  .card.flip {
    animation: fakeAnimation 0.4s ease-in-out backwards;
  }

  .front_image,
  .back_image {
    width: 100%;
    height: 100%;
  }

  .card .front {
    margin: auto;
    z-index: 900;
    width: 100%;
    max-width: 10vw;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.4s ease-in-out;
  }

  .card.flip .front {
    z-index: 900;
    transform: rotateY(180deg);
  }

  .card .back {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 800;
    width: 100%;
    max-width: 10vw;
    height: 14.02vw;
    box-shadow: 0 1rem 2.8rem 0 rgba(0, 0, 0, 0.15);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.4s ease-in-out;
  }

  .card.flip .back {
    z-index: 1000;
    transform: rotateX(0deg) rotateY(0deg);
  }

  #deck {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-80%);
    display: grid;

    @include ipadPro_horisontal {
      top: 45%;
      right: 4%;
    }

    @include ipad_horisontal {
      top: 45%;
      right: 4%;
    }

    @include mm_horisontal_game {
      top: 58%;
      right: 4%;
    }
    @include tb {
      top: 42%;
    }

    @include m733x425 {
      top: 50%;
    }

    @include iphone6_horisontal {
      top: 53%;
    }

    @include iphone6Plus_horisontal {
      top: 53%;
    }

    & > * {
      grid-area: 1/1;
    }
  }

  #btns {
    position: absolute;
    top: 39%;
    left: 10%;
    transform: translateY(-50%);
    text-align: center;

    @include ipadPro_horisontal {
      top: 38%;
      left: 6%;
    }

    @include mm_horisontal_game {
      top: 50%;
      left: 3%;
    }
    @include ll {
      top: 38%;
      left: 5%;
    }

    @include m733x425 {
      top: 43%;
    }

    @include pixel2Xl {
      top: 49%;
    }

    @include iphone5_horisontal {
      top: 45%;
    }

    @include iphone6_horisontal {
      top: 44%;
    }

    @include iphone6Plus_horisontal {
      top: 44%;
    }
    .btn {
      font-family: $font_body;
      @extend .primary_button;
      margin-top: 0;
      background-color: #ffbd4c;
      box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.15);
      z-index: 999;
      padding-left: 3rem;
      padding-right: 3rem;
      border-radius: 10px;
      margin-top: 2rem;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.1);
      }
      @include ll {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
      @include mm_horisontal_game {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 1rem;
        font-size: 1rem;
        border-radius: 3px;
      }

      @include m733x425 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 0.8rem;
      }

      @include pixel2Xl {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 0.8rem;
      }

      @include iphone5_horisontal {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        font-size: 0.6rem;
      }

      @include iphone5_horisontal {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @include iphone6Plus_horisontal {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 0.8rem;
      }

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  @keyframes fakeAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
